In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Load the dataset
df = pd.read_csv(r"C:\Users\amcys\Documents\02.Education\01.Online Education\03.DataTech Florida - Jerry Strazzeri\09.Trabalhos Finais\Walmart Project\Data\Final_database_V1.csv")
pd.set_option('display.max_columns', None)
df.head(20)

,date,order_id,order_amount,region,items_delivered,items_missing,delivery_hour,customer_id,customer_name,customer_age,driver_id,driver_name,driver_age,driver_trips,product_name,category,price
0,2023-02-12,b0b0ed0b-6d92-4747-a27d-32fa5b293d48,341.92,Altamonte Springs,19,0,04:02:37,WCID5359,Amanda Frank,48,WDID10634,Kevin Castillo DDS,65,48,NaN,NaN,NaN
1,2023-02-12,052ef301-b6a1-4e08-a6eb-8c92f64c11af,113.50,Clermont,8,0,17:58:42,WCID5000,Dustin Spencer,38,WDID10766,Heather Welch,60,25,NaN,NaN,NaN
2,2023-02-12,1c052a51-448f-4859-a739-7066ac41b8e8,442.30,Apopka,19,0,17:14:01,WCID5040,Amy Harrison,72,WDID10966,Shannon Reyes,43,24,NaN,NaN,NaN
3,2023-02-12,ca4bb404-bb71-40ee-925d-b816c97f4a9c,277.32,Clermont,13,0,03:52:42,WCID5867,Jose Jennings,85,WDID11100,Brett Young,48,39,NaN,NaN,NaN
4,2023-02-12,9cc29314-15ad-4259-9547-7b70177ed6de,462.46,Clermont,15,0,14:01:55,WCID6045,Zachary Campbell,60,WDID09899,Stephen Patton,18,47,NaN,NaN,NaN
5,2023-02-12,2be05da2-6166-425d-b2dd-c1f7f14c1935,224.33,Apopka,19,0,15:20:45,WCID5332,Brian Bender,31,WDID09988,Denise Thompson,18,13,NaN,NaN,NaN
6,2023-02-12,fa838369-0405-45b9-9ed1-183245bef63b,400.11,Kissimmee,19,0,11:40:51,WCID5401,Tommy Harvey,59,WDID10472,Brent Green,35,55,NaN,NaN,NaN
7,2023-02-12,e15d2852-0bd6-43bf-bb57-c0c9382547c0,117.29,Altamonte Springs,15,0,19:28:05,WCID5649,Jonathan Stevens,54,WDID10693,Chad Hill,62,38,NaN,NaN,NaN
8,2023-02-12,6db783fb-047c-4eb6-991b-77c24580e2d6,218.04,Apopka,12,0,01:14:21,WCID5147,Katie Mcdaniel,60,WDID10794,James Shepherd,32,27,NaN,NaN,NaN
9,2023-02-12,47bfda64-1b32-45fe-b19d-f8479d4a71a3,494.00,Kissimmee,13,0,05:03:52,WCID6168,James Woodard,35,WDID10924,Tammy Hunt,61,59,NaN,NaN,NaN
10,2023-02-12,9152e49b-e7d1-4996-a217-0158cd9ad27c,20.08,Apopka,8,0,07:10:19,WCID5181,Joseph Davis,82,WDID10348,Phillip Wallace,23,37,NaN,NaN,NaN
11,2023-02-12,1acaacb5-7adf-48fc-a7d6-d8e752febecb,191.48,Altamonte Springs,3,0,08:46:18,WCID6062,Joseph Blair,59,WDID10363,Karen Warner,23,35,NaN,NaN,NaN
12,2023-02-12,c509d2a3-03c7-403a-8533-3b0208b679cf,390.75,Sanford,18,0,02:42:46,WCID5492,Mike Kennedy,19,WDID10088,Anne Mckee,19,13,NaN,NaN,NaN
13,2023-02-12,ede8bb04-552a-455a-8505-3d24383e0386,90.64,Apopka,10,0,11:48:24,WCID5559,Zachary Hampton,40,WDID10259,James Jones,21,26,NaN,NaN,NaN
14,2023-02-12,fe9f9924-edaf-467f-9504-2f25aeedb982,444.40,Apopka,18,0,21:32:53,WCID5604,Jessica Stevens,78,WDID10862,Brooke Miranda,41,74,NaN,NaN,NaN
15,2023-02-12,cdbab998-bd06-47f4-9011-a62b7e4623f5,461.84,Sanford,12,0,10:28:01,WCID5548,Marie Edwards,47,WDID10068,Tyler Stewart,19,24,NaN,NaN,NaN
16,2023-02-12,52a6161c-eea3-4ee6-a981-8f7fddb94601,463.67,Altamonte Springs,4,0,23:24:11,WCID5662,Erik Lee,82,WDID10688,Crystal Sanders,65,51,NaN,NaN,NaN
17,2023-02-12,90810cdb-3851-45ea-8e76-0e87a1f19163,428.57,Clermont,12,0,03:43:59,WCID6189,Tiffany Gay,80,WDID11097,James Richardson,50,73,NaN,NaN,NaN
18,2023-02-13,3ddfcc22-f1ae-4e28-a87e-fef4b36a0770,78.28,Clermont,10,2,05:57:03,WCID5065,Bruce Ruiz,48,WDID10064,Charlotte Davila,18,37,Hummus,Pantry,7.92
19,2023-02-13,3ddfcc22-f1ae-4e28-a87e-fef4b36a0770,78.28,Clermont,10,2,05:57:03,WCID5065,Bruce Ruiz,48,WDID10064,Charlotte Davila,18,37,Olive Oil,Pantry,6.09

In [ ]:
# Here we already can check a datatype error: date and delivery_hour columns are set as "object" and not time and datetime
# Other mistake is the labeling of the last three rows, they must be clearer

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10161 entries, 0 to 10160
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             10161 non-null  object
 1   order_id         10161 non-null  object
 2   order_amount     10161 non-null  float64
 3   region           10161 non-null  object
 4   items_delivered  10161 non-null  int64
 5   items_missing    10161 non-null  int64
 6   delivery_hour    10161 non-null  object
 7   customer_id      10161 non-null  object
 8   customer_name    10161 non-null  object
 9   customer_age     10161 non-null  int64
 10  driver_id        10161 non-null  object
 11  driver_name      10161 non-null  object
 12  driver_age       10161 non-null  int64
 13  driver_trips     10161 non-null  int64
 14  product_name     1662 non-null   object
 15  category         1662 non-null   object
 16  price            1662 non-null   float64
dtypes: float64(2), int64(5), object(10)
memory usage: 1.3+ MB

In [14]:
# Another suspect thing happening is that for some registers, the value lost is bigger than the order price
# We can assume that the "order_amount" is the value without the lost product(s) prices
# This is a data we got in the end of the year, the person probably got time to have his refund. That can be a cause
# We'll create an extra column with the real_order_amount

df[df['price'] > 0.1].head(5)

,date,order_id,order_amount,region,items_delivered,items_missing,delivery_hour,customer_id,customer_name,customer_age,driver_id,driver_name,driver_age,driver_trips,product_name,category,price
18,2023-02-13,3ddfcc22-f1ae-4e28-a87e-fef4b36a0770,78.28,Clermont,10,2,05:57:03,WCID5065,Bruce Ruiz,48,WDID10064,Charlotte Davila,18,37,Hummus,Pantry,7.92
19,2023-02-13,3ddfcc22-f1ae-4e28-a87e-fef4b36a0770,78.28,Clermont,10,2,05:57:03,WCID5065,Bruce Ruiz,48,WDID10064,Charlotte Davila,18,37,Olive Oil,Pantry,6.09
20,2023-02-13,de6343f9-fa09-4cac-8da8-7c2706825e22,133.73,Sanford,13,2,11:20:24,WCID5028,Allison Barker,88,WDID10389,Megan Smith,24,64,Croutons,Pantry,13.31
21,2023-02-13,de6343f9-fa09-4cac-8da8-7c2706825e22,133.73,Sanford,13,2,11:20:24,WCID5028,Allison Barker,88,WDID10389,Megan Smith,24,64,Ground Beef,Pantry,13.27
22,2023-02-13,fe4bffcc-e466-4f05-b111-777a4808abcd,980.99,Sanford,15,1,12:10:18,WCID5145,Joshua Davis,34,WDID10066,Ryan Gomez,18,60,Flour,Pantry,3.48

In [ ]:
# Correct date column type 

df['date'] = pd.to_datetime(df['date'])
df['date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10161 entries, 0 to 10160
Series name: date
Non-Null Count  Dtype
--------------  -----
10161 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 79.5 KB

pandas._libs.tslibs.timestamps.Timestamp

In [19]:
# Correct delivery_hour to time

df['delivery_hour'] = pd.to_datetime(df['delivery_hour'], format='%H:%M:%S', errors='coerce').dt.time
type(df['delivery_hour'].iloc[0])

datetime.time

In [58]:
# Rename Last Three Columns

df = df.rename(columns={'product_name': 'missing_product_name', 
                   'category': 'missing_product_category',
                   'price': 'missing_amount'})
df.head()

,date,order_id,order_amount,region,items_delivered,items_missing,delivery_hour,customer_id,customer_name,customer_age,driver_id,driver_name,driver_age,driver_trips,missing_product_name,missing_product_category,missing_amount
0,2023-02-12,b0b0ed0b-6d92-4747-a27d-32fa5b293d48,341.92,Altamonte Springs,19,0,04:02:37,WCID5359,Amanda Frank,48,WDID10634,Kevin Castillo DDS,65,48,NaN,NaN,NaN
1,2023-02-12,052ef301-b6a1-4e08-a6eb-8c92f64c11af,113.50,Clermont,8,0,17:58:42,WCID5000,Dustin Spencer,38,WDID10766,Heather Welch,60,25,NaN,NaN,NaN
2,2023-02-12,1c052a51-448f-4859-a739-7066ac41b8e8,442.30,Apopka,19,0,17:14:01,WCID5040,Amy Harrison,72,WDID10966,Shannon Reyes,43,24,NaN,NaN,NaN
3,2023-02-12,ca4bb404-bb71-40ee-925d-b816c97f4a9c,277.32,Clermont,13,0,03:52:42,WCID5867,Jose Jennings,85,WDID11100,Brett Young,48,39,NaN,NaN,NaN
4,2023-02-12,9cc29314-15ad-4259-9547-7b70177ed6de,462.46,Clermont,15,0,14:01:55,WCID6045,Zachary Campbell,60,WDID09899,Stephen Patton,18,47,NaN,NaN,NaN

In [ ]:
# Create New dataset with only orders with lost products
df_lost = df[df['missing_amount'] > 0]
df_lost.describe()

,date,order_amount,items_delivered,items_missing,customer_age,driver_age,driver_trips,missing_amount
count,1662,1662.00000,1662.000000,1662.000000,1662.000000,1662.000000,1662.000000,1662.000000
mean,2023-07-01 06:44:37.256317696,342.90855,10.069795,1.204573,54.422984,35.383875,44.950060,89.875217
min,2023-01-01 00:00:00,20.54000,1.000000,1.000000,18.000000,18.000000,11.000000,2.160000
25%,2023-04-05 00:00:00,159.44000,5.000000,1.000000,36.000000,20.000000,29.000000,8.210000
50%,2023-07-04 00:00:00,304.60000,10.000000,1.000000,56.000000,32.000000,45.000000,12.530000
75%,2023-09-28 00:00:00,446.51000,15.000000,1.000000,73.000000,50.000000,62.000000,18.350000
max,2023-12-31 00:00:00,1354.71000,19.000000,3.000000,90.000000,65.000000,78.000000,908.870000
std,NaN,253.47969,5.518722,0.454057,21.108584,15.580617,18.958951,201.186840

In [83]:
# Create a new small database
df_lost_cost_driv = df_lost[['order_id', 'customer_name', 'driver_name', 'driver_trips']]

# Remove duplicates
df_lost_cost_driv = df_lost_cost_driv.drop_duplicates()

# Create variables
suspect_customers = df_lost_cost_driv['customer_name'].value_counts()
suspect_drivers = df_lost_cost_driv['driver_name'].value_counts()

df_lost_cost_driv['customer_incidence'] = df_lost_cost_driv['customer_name'].map(suspect_customers)
df_lost_cost_driv['driver_incidence'] = df_lost_cost_driv['driver_name'].map(suspect_drivers)

# Chances of being a fraudlent customer
# 1 <= incidence < 2 -> low
# 2 <= incidence < 3 -> Medium
# 3 <= incidence < 5 -> High
# 5 <= incidence -> Very High 

# Chances of being a fraudlent driver
# fraud_driver% = df_lost_cost_driv['driver_incidence'] / df_lost_cost_driv['driver_trips']
# 0.00 <= incidence < 0.1 -> low
# 0.1 <= incidence < 0.15 -> Medium
# 0.15 <= incidence < 0.25 -> High
# 0.25 <= incidence -> Very High

def customer_fraud_rating(x):
    if x >= 1 and x < 2:
        return 'Low'
    elif x >= 2 and x < 3:
        return 'Medium'
    elif x >=3 and x < 5:
        return 'High'
    else:
       return 'Very High'

df_lost_cost_driv['perc_lost_products'] = round(df_lost_cost_driv['driver_incidence'] / df_lost_cost_driv['driver_trips'], 3)

def driver_fraud_rating(x):
    if x >= 0.0 and x < 0.1:
        return 'Low'
    elif x >= 0.1 and x < 0.15:
        return 'Medium'
    elif x >=0.15 and x < 0.2:
        return 'High'
    else:
       return 'Very High'
    
df_lost_cost_driv['customer_fraud_rating'] = df_lost_cost_driv['customer_incidence'].apply(customer_fraud_rating)
df_lost_cost_driv['driver_fraud_rating'] = df_lost_cost_driv['perc_lost_products'].apply(driver_fraud_rating)
df_lost_cost_driv.head(25)

,order_id,customer_name,driver_name,driver_trips,customer_incidence,driver_incidence,perc_lost_products,customer_fraud_rating,driver_fraud_rating
18,3ddfcc22-f1ae-4e28-a87e-fef4b36a0770,Bruce Ruiz,Charlotte Davila,37,2,4,0.108,Medium,Medium
20,de6343f9-fa09-4cac-8da8-7c2706825e22,Allison Barker,Megan Smith,64,2,4,0.062,Medium,Low
22,fe4bffcc-e466-4f05-b111-777a4808abcd,Joshua Davis,Ryan Gomez,60,2,4,0.067,Medium,Low
23,849e79f0-13bf-4a80-bc02-62c208ebe4cd,Matthew Osborne,Kevin Gilmore,11,3,3,0.273,High,Very High
24,9923a278-e245-4836-aa35-5f6b7f28428f,Mr. Gregory Luna,Ronald Doyle,78,4,3,0.038,High,Low
25,227670af-aeb6-4301-8030-c9960d6b8b90,Jonathan Rivera,Leslie Powell,47,1,4,0.085,Low,Low
50,502f8720-8f0b-42dd-b65c-53bf089dcefd,Benjamin Harvey,Sharon Hanson,15,1,3,0.200,Low,Very High
51,d9d0baa7-b40d-4248-bfd8-d1d33eeecc06,April Hall,Teresa Trujillo,50,2,4,0.080,Medium,Low
52,d7fbb39b-0e73-4523-b0a1-cce7af949ea0,Caitlyn Velasquez,Jennifer Medina,47,2,3,0.064,Medium,Low
73,d105773f-d566-4aa2-87b2-c5245539e6f5,Amanda Brown,Caleb Martinez,57,2,4,0.070,Medium,Low
75,2972f202-a3f5-447a-8ba8-903e1e6ffd3c,Wayne Willis,Vanessa Burke,47,3,3,0.064,High,Low
76,6ab5dd76-cd41-4e82-9f26-20f56de3bbc7,Victoria Frank,Bonnie Petty,20,2,3,0.150,Medium,High
77,7081a372-28d6-4c74-9007-dcb35f5a6e57,Victoria Fields,Gerald Salazar,64,2,3,0.047,Medium,Low
78,59bd16a3-e82b-468a-af20-d467ac8811b5,Claudia English,Jared Campos,24,1,4,0.167,Low,High
105,af34847d-5b73-49ea-9412-87c98cb18d2f,Andrew Schmidt,Theresa Fields,22,2,4,0.182,Medium,High
107,f80b850f-482c-4adf-8474-fd01e3bd2902,Michelle Hill,Amanda Malone,44,2,4,0.091,Medium,Low
108,651a71d6-20e4-45c2-ad3c-c2014f35c474,Paul Mclean,Cynthia Barnes,27,2,3,0.111,Medium,Medium
109,9d0a4067-7c05-4a0e-befe-39d0795ff4c9,Catherine Hill,Gina Martinez,16,4,4,0.250,High,Very High
110,1b6046c6-0221-47fc-82bc-9dd4ab06a216,Jamie Jones,Brittney Lawson,29,1,3,0.103,Low,Medium
111,8d624215-bcfe-41ef-93ce-1aac7867bee5,Joshua Mccoy,Kimberly Townsend,54,1,4,0.074,Low,Low
112,b0c64edc-2bb6-4689-a983-7101637d0931,Lisa Crawford,Cristina Martin,57,1,4,0.070,Low,Low
138,d7f972ae-4554-426a-87c4-cdd491e6bb87,Megan Patel,Matthew Brown,68,1,4,0.059,Low,Low
139,31cf5f4a-e58a-4d67-b7df-d17fe0048f9f,Melissa Zamora,Justin Parsons,16,1,4,0.250,Low,Very High
140,c701e693-cb4d-4bab-b664-7f4023a28736,Christine Dean,Dennis Robinson MD,15,3,4,0.267,High,Very High
161,8c0a292e-ffee-457b-a96c-157692307c1d,Dylan Chen,Nicole Martinez,23,2,4,0.174,Medium,High